/*!
 * Start Bootstrap - New Age v4.0.0-beta.2 (https://startbootstrap.com/template-overviews/new-age)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-new-age/blob/master/LICENSE)
 */
/* Import Fonts */
@font-face {
  font-family: Cera;
  src: url(http://localhost/sunalisclasses/css/Cera.otf); }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Cera','Muli', 'Helvetica', 'Arial', 'sans-serif'; }

a {
  color: #00d2df;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }
  a:hover, a:focus {
    color: #00a2ac; }

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1); }

hr.light {
  border-color: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cera','Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px; }

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px; }

section h2 {
  font-size: 50px; }

.full-width {
  width: 100%; }

.social-icon {
  display: block;
  padding: 8px; }
  .social-icon:hover svg {
    width: 55px;
    height: 55px; }
  .social-icon svg {
    transition: 0.3s all;
    width: 30px;
    height: 30px; }

.blogpost-main-image {
  position: relative; }
  .blogpost-main-image .blog-info-wrapper {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.341176);
    color: white;
    padding: 10px;
    width: 100%; }
    .blogpost-main-image .blog-info-wrapper .blog-title {
      font-size: 1em; }
      @media (min-width: 800px) {
        .blogpost-main-image .blog-info-wrapper .blog-title {
          font-size: 1.6em; } }
    .blogpost-main-image .blog-info-wrapper .post-details {
      display: flex;
      align-items: center; }
      .blogpost-main-image .blog-info-wrapper .post-details .inner-detail-wrapper {
        padding-right: 20px;
        display: flex;
        align-items: center; }
        .blogpost-main-image .blog-info-wrapper .post-details .inner-detail-wrapper svg {
          height: 15px;
          width: 15px;
          display: inline-block; }
          .blogpost-main-image .blog-info-wrapper .post-details .inner-detail-wrapper svg path {
            fill: white; }
        .blogpost-main-image .blog-info-wrapper .post-details .inner-detail-wrapper .info-icon-title {
          display: inline-block;
          margin: 0;
          padding-left: 6px;
          font-size: 0.7em;
          font-weight: 100;
          font-family: "Roboto", sans-serif; }

@media (max-width: 867px) {
  .recent-posts-wrapper {
    display: none; } }

.content-text {
  width: 90%;
  margin: auto;
  padding: 20px; }
  .content-text p {
    font-size: 20px;
    line-height: 1.7;
    color: #545252;
    font-family: "Roboto", sans-serif;
    font-weight: 100; }
    .content-text p:first-child:first-letter {
      font-size: 4.2em;
      line-height: 0.8em;
      color: #00d2df;
      padding-right: 4px;
      float: left;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      font-style: normal !important; }
  .content-text strong, .content-text b {
    font-weight: 600; }
  .content-text img {
    padding: 20px !important;
    width: 100%; }

.article-social-icons-wrapper {
  position: sticky;
  top: 10px;
  padding-bottom: 20px; }
  .article-social-icons-wrapper svg {
    height: 30px;
    width: 30px;
    margin-top: 10px; }

.content-area {
  background-color: white; }

.blog-social-media-mobile-wrapper {
  display: none; }

.sidebar {
  margin-bottom: 10%;
  margin-right: 10%;
  margin-top: 20%; }

.sidebar p {
  font-size: .9em; }

.blogpost-main-image img {
  width: 100%;
  object-fit: contain; }

.column1 svg {
  height: 30px;
  width: 30px; }

.all-icons p {
  font-size: 0.8em; }

.sidebar h3 {
  color: #E9563D;
  margin-top: 20px;
  margin-bottom: 20px; }

.sidebar-blocks {
  margin-top: 60px; }

.sidebar-blocks h3 {
  margin-bottom: 15px; }

.sidebar-search-block a {
  text-decoration: !important none;
  color: #fff !important;
  margin: 0 !important; }

.sidebar a {
  text-decoration: none;
  color: #888888;
  display: block;
  margin-top: 10px; }

.all-icons:hover {
  background-color: #f2f0f0; }

.social-media-icons a {
  text-decoration: none; }

.post-details p {
  font-weight: bold;
  font-size: .9em; }

.footer img {
  display: block;
  margin: 0 auto; }

.copyright-footer p {
  padding-top: 15px;
  text-align: center;
  font-size: .9em;
  color: #fff; }

.copyright-footer {
  background-color: #49515B;
  height: 50px; }

.article-social-icons-wrapper {
  position: sticky;
  top: 10px;
  padding-bottom: 20px; }
  .article-social-icons-wrapper svg {
    height: 30px;
    width: 30px;
    margin-top: 10px; }

@media (max-width: 991px) {
  .sidebar {
    margin: 0; }
  .blog-social-media-wrapper {
    display: none; }
  .blog-social-media-mobile-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px; }
    .blog-social-media-mobile-wrapper .blog-solial-media-icons {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .blog-social-media-mobile-wrapper .blog-solial-media-icons .social-icon svg {
        height: 30px;
        width: 30px;
        margin: 5px; } }

#blogNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #00D2DF;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Cera','Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px; }
  #blogNav .navbar-brand {
    color: #fc9f20;
    font-family: 'Cera','Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px; }
    #blogNav .navbar-brand:hover, #blogNav .navbar-brand:focus {
      color: #00a2ac; }
  #blogNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222; }
  #blogNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase; }
    #blogNav .navbar-nav > li > a.active {
      color: #00d2df !important;
      background-color: #00D2DF; }
      #blogNav .navbar-nav > li > a.active:hover {
        background-color: #00D2DF; }
  #blogNav .navbar-nav > li > a,
  #blogNav .navbar-nav > li > a:focus {
    color: #222222; }
    #blogNav .navbar-nav > li > a:hover,
    #blogNav .navbar-nav > li > a:focus:hover {
      color: #00d2df; }
  @media (min-width: 992px) {
    #blogNav {
      border-color: #00D2DF;
      background-color: #00D2DF; }
      #blogNav .navbar-brand {
        color: fade(white, 70%); }
        #blogNav .navbar-brand:hover, #blogNav .navbar-brand:focus {
          color: white; }
      #blogNav .navbar-nav > li > a,
      #blogNav .navbar-nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7); }
        #blogNav .navbar-nav > li > a:hover,
        #blogNav .navbar-nav > li > a:focus:hover {
          color: #00D2DF; }
      #blogNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.1);
        background-color: white; }
        #blogNav.navbar-shrink .navbar-brand {
          color: #222222; }
          #blogNav.navbar-shrink .navbar-brand:hover, #blogNav.navbar-shrink .navbar-brand:focus {
            color: #00d2df; }
        #blogNav.navbar-shrink .navbar-nav > li > a,
        #blogNav.navbar-shrink .navbar-nav > li > a:focus {
          color: #222222; }
          #blogNav.navbar-shrink .navbar-nav > li > a:hover,
          #blogNav.navbar-shrink .navbar-nav > li > a:focus:hover {
            color: #00d2df; } }

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Cera','Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px; }
  #mainNav .navbar-brand {
    color: #fc9f20;
    font-family: 'Cera','Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px; }
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: #00a2ac; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222; }
  #mainNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase; }
    #mainNav .navbar-nav > li > a.active {
      color: #00d2df !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li > a.active:hover {
        background-color: transparent; }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #222222; }
    #mainNav .navbar-nav > li > a:hover,
    #mainNav .navbar-nav > li > a:focus:hover {
      color: #00d2df; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: fade(white, 70%); }
        #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
          color: white; }
      #mainNav .navbar-nav > li > a,
      #mainNav .navbar-nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li > a:hover,
        #mainNav .navbar-nav > li > a:focus:hover {
          color: white; }
      #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.1);
        background-color: white; }
        #mainNav.navbar-shrink .navbar-brand {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
            color: #00d2df; }
        #mainNav.navbar-shrink .navbar-nav > li > a,
        #mainNav.navbar-shrink .navbar-nav > li > a:focus {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-nav > li > a:hover,
          #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
            color: #00d2df; } }

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/bg-pattern.png"), #ffe900;
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #00d2df, #00949d);
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #00d2df, #00949d); }
  header.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center; }
    header.masthead .header-content h1 {
      font-size: 30px; }
  header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto; }
    header.masthead .device-container .screen img {
      border-radius: 3px; }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 775px;
      padding-top: 0;
      padding-bottom: 0; }
      header.masthead .header-content {
        margin-bottom: 0;
        text-align: left; }
        header.masthead .header-content h1 {
          font-size: 50px; }
      header.masthead .device-container {
        max-width: 325px; } }

.inqappframe:-webkit-scrollbar {
  width: 0px; }

.try-button {
  display: flex;
  align-content: center;
  font-size: 21px !important;
  border-bottom: 2px white solid;
  width: 62%;
  padding: 15px !important;
  border-top: 2px white solid;
  background: rgba(255, 255, 255, 0.11); }
  .try-button i {
    font-size: 30px;
    padding: 0px 10px;
    animation: showright 1s infinite;
    -webkit-animation: showright 1s infinite; }

@keyframes showright {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 10px; } }

section.download {
  position: relative;
  padding: 150px 0; }
  section.download h2 {
    font-size: 50px;
    margin-top: 0; }
  section.download .badges .badge-link {
    display: block;
    margin-bottom: 25px; }
    section.download .badges .badge-link:last-child {
      margin-bottom: 0; }
    section.download .badges .badge-link img {
      height: 60px; }
    @media (min-width: 768px) {
      section.download .badges .badge-link {
        display: inline-block;
        margin-bottom: 0; } }
  @media (min-width: 768px) {
    section.download h2 {
      font-size: 70px; } }

.blog-div {
  cursor: pointer;
  overflow: hidden; }
  .blog-div .blog-image-div {
    position: relative; }
    .blog-div .blog-image-div .blog-image {
      margin-bottom: 25px;
      border-radius: 3px;
      max-height: 190px;
      max-width: 90%;
      text-align: center; }
    .blog-div .blog-image-div .blog-date {
      margin: 0;
      font-size: 15px;
      height: 26px;
      position: absolute;
      top: 65%;
      left: 5%;
      background: red;
      padding: 2px 10px;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.43);
      color: white;
      font-family: sans-serif;
      font-weight: 500; }
  .blog-div .blog-title {
    margin-bottom: 20px;
    color: #555555; }
  .blog-div .blog-summary {
    font-size: 0.9em;
    padding: 0 20px;
    color: #777777;
    height: 110px !important; }

.blog-dots li {
  display: inline-block;
  margin: 0px 5px; }
  .blog-dots li button {
    border-radius: 100%;
    outline: 0;
    border: 0;
    content: '';
    height: 11px;
    width: 11px;
    background: #eeeeee;
    color: #777777;
    font-size: 0;
    cursor: pointer; }

.blog-dots .slick-active button {
  background: #777777 !important; }

.fbcomment-div {
  width: 100% !important; }

.fb-comments {
  width: 100% !important; }
  .fb-comments > span {
    width: 100% !important; }
    .fb-comments > span > iframe {
      width: 100% !important; }

/*Toppers*/
.tagline-title {
  margin: 3% auto;
  text-align: center;
  font-size: 1.8em;
  font-weight: 600; }

.toppers-tagline {
  color: gray; }

.pages-div {
  padding: 0% 0% 3% 0% !important;
  perspective: 5030px;
  height: 22em; }

.topper-left-page-folded {
  transform: rotateY(90deg);
  z-index: 10; }

.topper-left-page-unfolded {
  transform: rotateY(0deg);
  z-index: 8; }

.topper-left-page {
  background: white;
  box-shadow: 0px 0px 5px rgba(45, 43, 43, 0.86);
  text-align: center;
  width: 100%;
  height: 300px; }
  .topper-left-page .batch-text {
    color: grey;
    font-weight: 500;
    font-size: 1em;
    margin: 1% 0%; }
  .topper-left-page .topper-page-name {
    color: #00d2df;
    margin: 2% 0%;
    font-size: 1.6em;
    font-weight: 600; }
  .topper-left-page .topper-name-line {
    width: 20%;
    text-align: center;
    margin: 5% auto;
    /* height: 0px; */
    border: 1.5px solid #ffe900; }
  .topper-left-page .topper-marks-text {
    color: #4e4b4b;
    font-size: 1.2em;
    margin: 0px;
    height: 1.4em;
    font-weight: 600; }
  .topper-left-page .marks {
    font-size: 2em !important;
    margin-bottom: 25px;
    color: #00d2df; }
  .topper-left-page .topper-achievement-text {
    font-weight: 500;
    font-size: 1.2em;
    margin: 0px; }
    .topper-left-page .topper-achievement-text:first-child {
      margin-top: 15px !important; }
  .topper-left-page .school {
    font-size: 1.6em !important;
    color: #00d2df; }

.topper-right-page {
  transform: rotateY(0deg);
  transform-origin: left;
  backface-visibility: hidden;
  position: absolute;
  box-shadow: 0px 0px 5px rgba(45, 43, 43, 0.86);
  height: 20em;
  width: 60%;
  float: left;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  /*Image*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.4s all; }

.topper-right-page-back {
  z-index: 2 !important; }

.other-toppers-list-outer-div {
  margin-bottom: 35px; }
  .other-toppers-list-outer-div .other-toppers-list {
    display: flex;
    justify-content: center;
    height: 4em; }

.other-topper-div {
  width: 5%;
  margin: 1.5% 0.7%;
  text-align: center; }

.other-topper-image {
  cursor: pointer;
  border-radius: 100%;
  width: 3em;
  height: 3em;
  margin: 0 auto;
  border: 1px solid #00d2df;
  will-change: transform;
  transition: all 0.2s; }
  .other-topper-image:hover {
    transform: scale(1.2);
    cursor: pointer; }

.other-toppers-title {
  font-size: 1.2em;
  color: #00d2df;
  text-align: center;
  font-weight: 400; }

.leaderboard-title {
  margin: 30px 0px;
  font-size: 3em;
  color: #00d2df; }

/*Awards Section*/
.awards-section {
  padding-bottom: 65px;
  background: url(../img/awards_bg.jpg);
  background-repeat: repeat; }
  .awards-section .title {
    text-align: center;
    font-weight: bold;
    padding: 15px 0px;
    margin-top: 50px; }
  .awards-section .award-image {
    max-width: 80%;
    height: auto;
    /* text-align: center; */
    margin: 15px auto;
    border-radius: 12px;
    border: 11px solid white;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.54); }
  .awards-section .award-names {
    color: #00d1dd;
    text-align: center;
    margin: auto;
    padding: 5px 15px;
    font-size: 2.3em;
    font-weight: 500;
    background: white;
    border-radius: 5px;
    display: inline-block; }
  .awards-section .weekly-award-image {
    width: 60%;
    margin: auto;
    border-radius: 100%;
    border: 4px solid white; }
  .awards-section .weekly-award-names {
    margin: 0;
    font-size: 1.9em;
    color: white;
    font-weight: 500; }
  .awards-section .weekly-award-title {
    margin: 0;
    color: #ffe900;
    font-size: 1.4em; }
  .awards-section .weekly-award-desc {
    margin: 0;
    font-size: 1em;
    color: white;
    width: 70%;
    text-align: center;
    margin: auto; }

.book {
  position: relative;
  width: 60%;
  height: 300px;
  background: white;
  border-radius: 12px;
  perspective: 1000px;
  margin: auto; }

.full-page {
  width: 50%;
  position: absolute;
  right: 0;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  transform-origin: left;
  height: 300px;
  transform-style: preserve-3d;
  transition: all 1s; }

.full-page-1 {
  transform: rotateY(-180deg);
  z-index: 1; }

.full-page-2 {
  transform: rotateY(0deg);
  z-index: 1; }

.full-page-3 {
  transform: rotateY(0deg);
  z-index: 1; }

.page {
  width: 100%;
  height: 100%;
  color: black;
  position: absolute;
  backface-visibility: hidden;
  right: 0;
  border: 1px #777777 solid;
  overflow: hidden; }

.front {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  background-size: cover;
  background-position: center; }

.back {
  transform: rotateY(180deg);
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px; }

section.features .section-heading {
  margin-bottom: 100px; }
  section.features .section-heading h2 {
    margin-top: 0; }
  section.features .section-heading p {
    margin-bottom: 0; }

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto; }

section.features .device-container {
  margin-bottom: 100px; }
  @media (min-width: 992px) {
    section.features .device-container {
      margin-bottom: 0; } }

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  section.features .feature-item h3 {
    font-size: 30px; }
  section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(to left, #ffe900, #fc9f20);
    background: linear-gradient(to left, #ffe900, #fc9f20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.feature-row {
  margin-bottom: 60px; }
  .feature-row .feature-title {
    font-size: 2.3em;
    margin-bottom: 30px; }
  .feature-row .feature-image {
    width: 100%; }

.gallery-slider-for {
  overflow: hidden;
  max-height: 460px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.84); }
  .gallery-slider-for .gallery-for-image-div {
    padding: 6px; }
    .gallery-slider-for .gallery-for-image-div .gallery-for-image {
      max-height: 460px;
      max-width: 100%;
      margin: auto; }

.gallery-slider-nav .gallery-image-div {
  outline: none; }
  .gallery-slider-nav .gallery-image-div .gallery-image {
    max-width: 100%;
    max-height: 300px;
    margin: auto;
    border: 4px solid #ffc107;
    border-radius: 4px;
    transform: scale(0.7);
    transition: 0.4s all; }

.gallery-slider-nav .slick-current .gallery-image {
  transform: scale(0.9);
  border: none;
  z-index: 999;
  box-shadow: 0 0 4px rgba(51, 51, 51, 0.5); }

.mrunali {
  text-align: center; }

.gallery-next-button {
  position: absolute;
  right: 0;
  top: 40%;
  border-radius: 100%;
  border: 1px #00d2df solid;
  background: white;
  padding: 3px;
  width: 30px;
  height: 30px; }
  .gallery-next-button i {
    color: #00d2df; }

.gallery-prev-button {
  position: absolute;
  left: 0;
  top: 42%;
  border-radius: 100%;
  border: 1px #00d2df solid;
  background: white;
  padding: 3px;
  width: 30px;
  height: 30px; }
  .gallery-prev-button i {
    color: #00d2df; }

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg-cta.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  section.cta .cta-content {
    position: relative;
    z-index: 1; }
    section.cta .cta-content h2 {
      font-size: 50px;
      max-width: 450px;
      margin-top: 0;
      margin-bottom: 25px;
      color: white; }
    @media (min-width: 768px) {
      section.cta .cta-content h2 {
        font-size: 80px; } }
  section.cta .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }

section.contact {
  text-align: center; }
  section.contact h2 {
    margin-top: 0;
    margin-bottom: 25px; }
    section.contact h2 i {
      color: #dd4b39; }
  section.contact ul.list-social {
    margin-bottom: 0; }
    section.contact ul.list-social li a {
      font-size: 40px;
      line-height: 80px;
      display: block;
      width: 80px;
      height: 80px;
      color: white;
      border-radius: 100%; }
    section.contact ul.list-social li.social-twitter a {
      background-color: #1da1f2; }
      section.contact ul.list-social li.social-twitter a:hover {
        background-color: #0d95e8; }
    section.contact ul.list-social li.social-facebook a {
      background-color: #3b5998; }
      section.contact ul.list-social li.social-facebook a:hover {
        background-color: #344e86; }
    section.contact ul.list-social li.social-google-plus a {
      background-color: #dd4b39; }
      section.contact ul.list-social li.social-google-plus a:hover {
        background-color: #d73925; }

.contact-section {
  background: #00d2df;
  color: white; }
  .contact-section .text-muted {
    color: white !important; }

/*Contact Section*/
.contact-section {
  background: #00d2df; }
  .contact-section .contact-row .contact-board-div .contact-board {
    width: 90%;
    background: white;
    border-radius: 12px;
    margin: auto; }
    .contact-section .contact-row .contact-board-div .contact-board .contact-name {
      color: #00d2df;
      font-weight: 600;
      padding: 10px;
      font-size: 1.5em;
      line-height: 1.2em;
      text-align: center;
      margin: 0; }
    .contact-section .contact-row .contact-board-div .contact-board .contact-label {
      color: #00d2df;
      font-size: 0.8em;
      font-weight: 600;
      margin: 0;
      padding: 0 20px; }
    .contact-section .contact-row .contact-board-div .contact-board .contact-addresss {
      padding: 0 20px;
      font-size: 1.1em;
      line-height: 1.4em;
      font-weight: 500;
      color: #777777; }
    .contact-section .contact-row .contact-board-div .contact-board .contact-phone {
      padding: 2px 20px;
      font-size: 1.1em;
      line-height: 1.6em;
      font-weight: 500;
      font-family: sans-serif;
      color: #777777; }
  .contact-section .contact-row .contact-form-div {
    background: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.28);
    padding: 5%; }
    .contact-section .contact-row .contact-form-div .contact-form-label {
      margin: 0;
      font-size: 0.9em;
      font-weight: 600;
      color: #00d2df;
      float: left; }
    .contact-section .contact-row .contact-form-div .contact-form-input {
      margin: 2px 0 15px 0;
      width: 100%;
      height: 2.3em;
      border: none;
      background: #eeeeee;
      padding: 0px 7px;
      font-weight: 500; }
    .contact-section .contact-row .contact-form-div .message-input {
      padding: 6px 7px !important;
      min-height: 7em; }
    .contact-section .contact-row .contact-form-div .contact-form-button-div {
      width: 100%;
      text-align: center; }
      .contact-section .contact-row .contact-form-div .contact-form-button-div .contact-form-button {
        cursor: pointer;
        background: #00d2df;
        width: 50%;
        color: white;
        border: none;
        font-weight: 600;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.52); }

.geolocate-text {
  color: #555555;
  margin: 5px;
  font-size: 0.8em;
  font-family: sans-serif; }
  .geolocate-text span {
    font-weight: bold;
    color: #00d2df; }

.locateus-text {
  color: #00d2df;
  display: inline-block; }

.locate-us-button {
  margin: 10px;
  border: 0;
  outline: 0;
  color: #00d2df;
  padding: 5px 10px;
  font-size: 2.5em;
  cursor: pointer; }

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #00d2df; }
  footer p {
    font-size: 12px;
    margin: 0; }
  footer ul {
    margin-bottom: 0; }
    footer ul li a {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.3); }
      footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
        text-decoration: none; }

.sunalis-footer {
  background-image: url(../img/cloud-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 24%; }
  .sunalis-footer .row {
    margin: 16% 0 0 0;
    color: #00d2df; }
    .sunalis-footer .row .copyright {
      float: left; }
    .sunalis-footer .row .icons {
      text-align: center; }
    .sunalis-footer .row .pixolo {
      float: right; }

.footer-blog {
  width: 100%;
  background-image: url(../img/blog-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0px;
  background-color: white; }
  .footer-blog .blog-container {
    background-color: #00d2df !important; }
    .footer-blog .blog-container .copyright-wrapper {
      width: 100%;
      margin-top: 11% !important;
      background-color: #00d2df !important;
      color: white !important; }

.syllabus-image {
  width: 36%; }

.sub-title {
  margin-top: 12px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 20px; }

.nav-item {
  margin-left: 10px;
  text-color: white;
  text-align: center;
  width: 24%; }

li {
  border-bottom: 1px solid #f3eeee;
  border-bottom: none; }

.tab-content {
  margin-top: 30px; }

.nav-tabs {
  border-bottom: none !important; }
  .nav-tabs .active {
    background-color: #00d2df !important; }
    .nav-tabs .active .sub-title {
      color: white; }

.chapter {
  color: #00d2df;
  display: list-item; }

.sub-title {
  color: #00d2df; }

.tab-pane {
  border-left: 7px solid #00d2df;
  border-top: 1px solid #f3eeee;
  border-bottom: 1px solid #f3eeee;
  border-right: 1px solid #f3eeee; }

.nav-link {
  margin-top: 7px;
  border: 1px solid #f3eeee !important; }
  .nav-link .active {
    background-color: #00d2df; }
  .nav-link:hover {
    background-color: white;
    border-bottom: none;
    transform: scale(1.1); }

@media only screen and (max-width: 600px) {
  .nav-tabs {
    display: none; }
  #myTabContent {
    display: none; } }

@media only screen and (min-width: 1024px) {
  .dropdown {
    display: none; }
  /* hide it elsewhere */ }

.about-us-years-div {
  display: inline-flex;
  min-width: 60%;
  margin: auto; }
  .about-us-years-div .year-text {
    flex-basis: 14%;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;
    border-bottom: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 4px 0px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer; }
  .about-us-years-div .active {
    color: white;
    background: #00d2df; }

.about-us-cards-div {
  width: 100%;
  display: block;
  min-height: 400px;
  text-align: center;
  position: relative; }
  .about-us-cards-div .card {
    left: 5%;
    height: 400px;
    position: absolute;
    width: 90%;
    border: 1px solid grey;
    padding: 15px;
    overflow-y: auto; }
    .about-us-cards-div .card p {
      color: grey; }

.bg-primary {
  background: #00d2df;
  background: -webkit-linear-gradient(#00d2df, #00bac6);
  background: linear-gradient(#00d2df, #00bac6); }

.text-primary {
  color: #00d2df; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: white;
    border-color: #00d2df;
    background-color: #00d2df; }

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase; }

.btn-xl {
  font-size: 11px;
  padding: 15px 45px; }
