.about-us-years-div {
    display: inline-flex;
    min-width: 60%;
    margin: auto;
    .year-text {
        flex-basis: 14%;
        text-align: center;
        border-radius: 4px;
        border: 1px solid #ccc;
        border-bottom: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 4px 0px;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
    }
    .active {
        color: white;
        background: $theme-primary;
    }
}

.about-us-cards-div {
    width: 100%;
    display: block;
    min-height: 400px;
    text-align: center;
    position: relative;
    .card {
        left: 5%;
        height: 400px;
        position: absolute;
        width: 90%;
        border: 1px solid grey;
        padding: 15px;
        overflow-y: auto;
        p {
            color: grey;
        }
    }
}
