.gallery-slider-for {
    overflow: hidden;
    max-height: 460px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.84);
    .gallery-for-image-div {
        padding: 6px;
        .gallery-for-image {
            max-height: 460px;
            max-width: 100%;
            margin: auto;
        }
    }
}

.gallery-slider-nav {
    .gallery-image-div {
        outline: none;
        .gallery-image {
            max-width: 100%;
            max-height: 300px;
            margin: auto;
            border: 4px solid #ffc107;
            border-radius: 4px;
            transform: scale(0.7);
            transition: 0.4s all;
        }
    }
    .slick-current {
        .gallery-image {
            transform: scale(0.9);
            border: none;
            z-index: 999;
            box-shadow: 0 0 4px rgba(51, 51, 51, 0.50);
        }
    }
}

.mrunali{
    text-align: center;
}
.gallery-next-button {
    position: absolute;
    right: 0;
    top: 40%;
    border-radius: 100%;
    border: 1px $theme-primary solid;
    background: white;
    padding: 3px;
    width: 30px;
    height: 30px;
    i {
        color: $theme-primary;
    }
}

.gallery-prev-button {
    position: absolute;
    left: 0;
    top: 42%;
    border-radius: 100%;
    border: 1px $theme-primary solid;
    background: white;
    padding: 3px;
    width: 30px;
    height: 30px;
    i {
        color: $theme-primary;
    }
}
