// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include body-font;
}

a {
    color: $theme-primary;
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section {
    h2 {
        font-size: 50px;
    }
}

.full-width {
    width: 100%;
}
//blog page//
.social-icon {
    display: block;
    padding: 8px;
    &:hover {
          svg {
            width: 55px;
            height: 55px;
        }
    }
    svg {
        transition: 0.3s all;
        width: 30px;
        height: 30px;
        circle {}
        path {}
    }
}

.blogpost-main-image {
    position: relative;
    .blog-info-wrapper {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3411764705882353);
        color: white;
        padding: 10px;
        width: 100%;
        .blog-title {
            font-size: 1em;
            @media (min-width: 800px) {
                font-size: 1.6em;
            }
        }
        .post-details {
            display: flex;
            align-items: center;
            .inner-detail-wrapper {
                padding-right: 20px;
                display: flex;
                align-items: center;
                svg {
                    height: 15px;
                    width: 15px;
                    display: inline-block;
                    path {
                        fill: white;
                    }
                }
                .info-icon-title {
                    display: inline-block;
                    margin: 0;
                    padding-left: 6px;
                    font-size: 0.7em;
                    font-weight: 100;
                    font-family: $main-font;
                }
            }
        }
    }
}


.recent-posts-wrapper {
    @media (max-width: 867px) {
        display: none;
    }
}

.content-text {
    width: 90%;
    margin: auto;
    padding: 20px;
    p {
        font-size: 20px;
        line-height: 1.7;
        color: $text-color;
        font-family: $main-font;
        font-weight: 100;
        &:first-child {
            &:first-letter {
                font-size: 4.2em;
                line-height: 0.8em;
                color: $primary;
                padding-right: 4px;
                float: left;
                font-family: $funky-font;
                font-weight: 600;
                text-transform: uppercase;
                font-style: normal !important;
            }
        }
    }
    strong, b{
      font-weight: 600;
    }
    img{
      padding: 20px !important;
      width: 100%;
    }
}

.article-social-icons-wrapper {
    position: sticky;
    top: 10px;
    padding-bottom: 20px;
    svg {
        height: 30px;
        width: 30px;
        margin-top: 10px;
    }
}

.content-area {
background-color: white;
}



.blog-social-media-mobile-wrapper{
display: none;
}



.sidebar {
margin-bottom: 10%;
margin-right: 10%;
margin-top: 20%;
}

.sidebar p {
font-size: .9em;
}

.blogpost-main-image img {
width: 100%;
object-fit: contain;
}

.column1 svg {
height: 30px;
width: 30px;
}

.all-icons p {
font-size: 0.8em;
}

.sidebar h3 {
color: $red-text;
margin-top: 20px;
margin-bottom: 20px;
}

.sidebar-blocks {
margin-top: 60px;
}

.sidebar-blocks h3 {
margin-bottom: 15px;
}

.sidebar-search-block a {
text-decoration: !important none;
color: #fff !important;
margin: 0 !important;
}

.sidebar a {
text-decoration: none;
color: #888888;
display: block;
margin-top: 10px;
}

.all-icons:hover {
background-color: #f2f0f0;
}

.social-media-icons a {
text-decoration: none;
}

.post-details p {
font-weight: bold;
font-size: .9em;
}

.footer img {
display: block;
margin: 0 auto;
}

.copyright-footer p {
padding-top: 15px;
text-align: center;
font-size: .9em;
color: #fff;
}

.copyright-footer {
background-color: #49515B;
height: 50px;
}

.article-social-icons-wrapper {
position: sticky;
top: 10px;
padding-bottom: 20px;
svg {
height: 30px;
width: 30px;
margin-top: 10px;
}
}



@media (max-width: 991px) {



    .sidebar {
        margin: 0;
    }

    .blog-social-media-wrapper {
      display: none;
    }

    .blog-social-media-mobile-wrapper {
   display: flex;
   justify-content: center;
   width: 100%;
   padding-top: 10px;
   .blog-solial-media-icons {
     display: flex;
     flex-direction: row;
     justify-content: center;
      .social-icon {

        svg {
          height: 30px;
          width: 30px;
          margin: 5px;
        }
      }

   }

}


}
