/*Toppers*/

$card-height: 300px;
.tagline-title {
    margin: 3% auto;
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
}

.toppers-tagline {
    color: gray;
}

.pages-div {
    padding: 0% 0% 3% 0% !important;
    perspective: 5030px;
    height: 22em;
}

.topper-left-page-folded {
    transform: rotateY(90deg);
    z-index: 10;
}

.topper-left-page-unfolded {
    transform: rotateY(0deg);
    z-index: 8;
}

.topper-left-page {
    background: white;
    box-shadow: 0px 0px 5px rgba(45, 43, 43, 0.86);
    text-align: center;
    width: 100%;
    height: $card-height;
    .batch-text {
        color: grey;
        font-weight: 500;
        font-size: 1em;
        margin: 1% 0%;
    }
    .topper-page-name {
        color: $theme-primary;
        margin: 2% 0%;
        font-size: 1.6em;
        font-weight: 600;
    }
    .topper-name-line {
        width: 20%;
        text-align: center;
        margin: 5% auto;
        /* height: 0px; */
        border: 1.5px solid $theme-secondary;
    }
    .topper-marks-text {
        color: #4e4b4b;
        font-size: 1.2em;
        margin: 0px;
        height: 1.4em;
        font-weight: 600;
    }
    .marks {
        font-size: 2em !important;
        margin-bottom: 25px;
        color: $theme-primary;
    }
    .topper-achievement-text {
        font-weight: 500;
        font-size: 1.2em;
        margin: 0px;
        &:first-child {
            margin-top: 15px !important;
        }
    }
    .school {
        font-size: 1.6em !important;
        color: $theme-primary;
    }
}

.topper-right-page {
    transform: rotateY(0deg);
    transform-origin: left;
    backface-visibility: hidden;
    position: absolute;
    box-shadow: 0px 0px 5px rgba(45, 43, 43, 0.86);
    height: 20em;
    width: 60%;
    float: left;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    /*Image*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.4s all;
}

.topper-right-page-back {
    z-index: 2 !important;
}

.other-toppers-list-outer-div {
    margin-bottom: 35px;
    .other-toppers-list {
        display: flex;
        justify-content: center;
        height: 4em;
    }
}

.other-topper-div {
    width: 5%;
    margin: 1.5% 0.7%;
    text-align: center;
}

.other-topper-image {
    cursor: pointer;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    margin: 0 auto;
    border: 1px solid $theme-primary;
    will-change: transform;
    transition: all 0.2s;
    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

.other-toppers-title {
    font-size: 1.2em;
    color: $theme-primary;
    text-align: center;
    font-weight: 400;
}

.leaderboard-title {
    margin: 30px 0px;
    font-size: 3em;
    color: $theme-primary;
}


/*Awards Section*/

.awards-section {
    padding-bottom: 65px;
    background: url(../img/awards_bg.jpg);
    background-repeat: repeat;
    .title {
        text-align: center;
        font-weight: bold;
        padding: 15px 0px;
        margin-top: 50px;
    }
    .award-image {
        max-width: 80%;
        height: auto;
        /* text-align: center; */
        margin: 15px auto;
        border-radius: 12px;
        border: 11px solid white;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.54);
    }
    .award-names {
        color: #00d1dd;
        text-align: center;
        margin: auto;
        padding: 5px 15px;
        font-size: 2.3em;
        font-weight: 500;
        background: white;
        border-radius: 5px;
        display: inline-block;
    }
    .weekly-award-image {
        width: 60%;
        margin: auto;
        border-radius: 100%;
        border: 4px solid white;
    }
    .weekly-award-names {
        margin: 0;
        font-size: 1.9em;
        color: white;
        font-weight: 500;
    }
    .weekly-award-title {
        margin: 0;
        color: $theme-secondary;
        font-size: 1.4em;
    }
    .weekly-award-desc {
        margin: 0;
        font-size: 1em;
        color: white;
        width: 70%;
        text-align: center;
        margin: auto;
    }
}

.book-outer {}

.book {
    position: relative;
    width: 60%;
    height: $card-height;
    background: white;
    border-radius: 12px;
    perspective: 1000px;
    margin: auto;
}

.full-page {
    width: 50%;
    position: absolute;
    right: 0;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    transform-origin: left;
    height: $card-height;
    transform-style: preserve-3d;
    transition: all 1s;
}

.full-page-1 {
    transform: rotateY(-180deg);
    z-index: 1;
}

.full-page-2 {
    transform: rotateY(0deg);
    z-index: 1;
}

.full-page-3 {
    transform: rotateY(0deg);
    z-index: 1;
}

.page {
    width: 100%;
    height: 100%;
    color: black;
    position: absolute;
    backface-visibility: hidden;
    right: 0;
    border: 1px $gray-light solid;
    overflow: hidden;
}

.front {
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    background-size: cover;
    background-position: center;
}

.back {
    transform: rotateY(180deg);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}
