.syllabus-image {
    width: 36%;
}

.sub-title {
    margin-top: 12px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 20px;
}

.nav-item {
    margin-left: 10px;
    text-color: white;
    text-align: center;
    width: 24%;
}

li {
    border-bottom: 1px solid #f3eeee;
    border-bottom: none;
}

.tab-content {
    margin-top: 30px;
}

.nav-tabs {
    border-bottom: none !important;
    .active {
        background-color: $theme-primary !important;
        .sub-title {
            color: white;
        }
    }
}

.chapter {
    color: $theme-primary;
    display: list-item;
}

.sub-title {
    color: $theme-primary;
}

.tab-pane {
    border-left: 7px solid $theme-primary;
    border-top: 1px solid #f3eeee;
    border-bottom: 1px solid #f3eeee;
    border-right: 1px solid #f3eeee;
}

.nav-link {
    margin-top: 7px;
    .active {
        background-color: $theme-primary;
    }
    border: 1px solid #f3eeee !important;
    &:hover {
        background-color: white;
        border-bottom: none;
        transform: scale(1.1);
    }
}


@media only screen and (max-width: 600px) {
  .nav-tabs { display: none; }   
    #myTabContent { 
      display: none;
    }   
}

@media only screen and (min-width: 1024px) {
.dropdown { display: none; }   /* hide it elsewhere */
}