// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #00d2df;
$theme-secondary:  #ffe900;
$theme-tertiary:   #fc9f20;

$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee

$brand-twitter:		#1da1f2;
$brand-facebook:	#3b5998;
$brand-google-plus:	#dd4b39;

$icon: #49515B !default;
$white:#fff;
$gray-900:#A4A4A4;
$red-text: #E9563D;
$primary:    #00d2df;
$text-color: #545252;
$main-font: 'Roboto', sans-serif;
$funky-font: 'Josefin Sans', sans-serif;
/* Import Fonts */

@font-face {
    font-family: Cera;
    src: url(http://localhost/sunalisclasses/css/Cera.otf);
}
